
@{
    ViewBag.Title = "Erro";
}

<hgroup>
    <h1>Erro!!!</h1>
    <h2>Ocorreu algum erro ao processar sua requisição. Pedimos desculpas pelo inconveniente, entre em contato conosco e resolveremos o mais rápido possível.</h2>
</hgroup>

