@model Analise_E_Simulacao_Tarifacao_Energia.ViewModels.ContaViewModel

@{
    ViewBag.Title = "Excluir Conta";
}

<h2>Confirmar exclusão</h2>

<h3>Certeza que deseja excluir esse registro?</h3>

@using (Html.BeginForm("ConfirmaDelete", "Conta", FormMethod.Post))
{
    @Html.AntiForgeryToken() //prevenção contra CSRF
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.conta.dataReferencia)
    <div class="form-actions no-color">
        <input type="submit" value="Confirma" class="btn btn-default" />
        <input type="submit" value="Cancelar" class="btn btn-cancel" onclick="window.history.back()" />
    </div>
}
