@model Analise_E_Simulacao_Tarifacao_Energia.ViewModels.FabricaViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Certeza que deseja excluir esse registro?</h3>

@using (Html.BeginForm("Delete", "Fabrica", FormMethod.Post))
{
    @Html.AntiForgeryToken() //prevenção contra CSRF
    @Html.ValidationSummary(true)

    <div class="form-actions no-color">
        <input type="submit" value="Gerar" class="btn btn-default" />
        <input type="submit" value="Cancelar" class="btn btn-cancel" onclick="window.history.back()" />
    </div>
}
