@model DotNet.Highcharts.Highcharts

@{
    ViewBag.Title = "Grafico de Simulação";
}

<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js" type="text/javascript"></script>

<h2>@ViewBag.Title.</h2>
<h3>Comparativo entre modelos de tarifação</h3>

<p> Grafico Teste </p>

@(Model)