@{
    ViewBag.Title = "Simulação";
}

@using (Html.BeginForm("GerarSimulacao","Simulacao")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SimulacaoModel</h4>
        <hr />
       
        <div class="col-md-offset-2 col-md-10>
            <h3>Simulação de tarifação</h3>
            <hr />

            <div class="form-group">
                <div><p>Será gerada uma nova simulação, deseja continuar?</p></div>
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Gerar" class="btn btn-default" />
                    <input type="submit" value="Cancelar" class="btn btn-cancel" onclick="window.history.back()"/>
                </div>
            </div>
        </div>
}
