@model Analise_E_Simulacao_Tarifacao_Energia.Models.SimulacaoModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("GerarSimulacao")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SimulacaoModel</h4>
        <hr />
       
        <div class="col-md-offset-2 col-md-10>
            <h3>Gerar Simulação</h3>
            <hr />

            <div><p>Será gerada uma nova simulação, deseja continuar?</p></div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Gerar" class="btn btn-default" />
                    <input type="submit" value="Cancelar" class="btn btn-cancel" onclick="window.history.back()"/>
                </div>
            </div>
        </div>
}
