@model Analise_E_Simulacao_Tarifacao_Energia.Models.UsuarioModel

@{
    ViewBag.Title = "Ativa/Desativa";
}

@if (Model.Ativo)
{
    <h2>Deseja realmente desativar esse usuario?</h2>
}
else
{
    <h2>Deseja realmente ativar esse usuario?</h2>
}

<div>
   

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.Ativo)
        
        <div class="form-actions no-color">
            <input type="submit" value="Confirma" class="btn btn-default" />
            <input type="submit" value="Cancelar" class="btn btn-cancel" onclick="window.history.back()" />
        </div>
    }
</div>
